:root {
  --cover-width: 150px;
  --cover-height: 200px;
}

body {
    margin-bottom: 70px;
    color: white;
    background-color: #0b122c;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}

button,
label {
    cursor: pointer;
}

.title {
    text-align: center;
}

.settings-container {
    position: fixed;
    display: flex;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.9);
    gap: 40px;
    z-index: 90;
}

.settings-item {
    display: flex;
    flex-direction: column;
}

.setting-label {
    margin-bottom: 4px;
}

.settings-button {
    position: fixed;
    right: 0;
    bottom: 0;
    padding: 10px;
    background-color: #0b122ccc;
    border: none;
    border-top-left-radius: 20px;
    z-index: 100;
}

.games {
    display: grid;
    grid-template-columns: repeat(auto-fill, var(--cover-width));
    justify-content: center;
    gap: 5px;
}

.game-container {
    position: relative;
}

.game-cover {
    object-fit: cover;
}


.game-cover,
.game-container {
    width: var(--cover-width, 150px);
    height: var(--cover-height, 200px);
}

.game-name {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    color: white;
    background-color: rgba(0,0,0, 0.7);
    word-break: break-word;
}

.name-hidden .game-name {
    display: none;
}

.info {
    position: fixed;
    display: flex;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    color: white;
    background-color: rgba(0,0,0, 0.8);
    align-items: center;
    justify-content: center;
    z-index: 10;
}

[hidden] {
    display: none;
}
