:root {
  --cover-width: 150px;
  --cover-height: 200px;
}

body {
    margin: 0 0 70px;
    color: white;
    background-color: #0b122c;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}

button,
label {
    cursor: pointer;
}

button {
    padding: 14px 20px;
    color: #55cdff;
    background-color: #0a0e1e;
    border: 1px solid #274f70;
    border-radius: 2px;
}

.button-primary {
    color: #0a0e1e;
    background-color: #55cdff;
}

.title {
    text-align: center;
}

.settings-container {
    position: fixed;
    display: flex;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.9);
    gap: 40px;
    z-index: 90;
}

.settings-item {
    display: flex;
    flex-direction: column;
}

.setting-label {
    margin-bottom: 4px;
}

.settings-view {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.view-button::before {
    display: inline-block;
    width: 24px;
    height: 24px;
    content: '';
    vertical-align: middle;
}

.view-button--list::before {
    background: url('assets/images/icons/view-list.svg') center no-repeat;
}

.view-button--grid::before {
    background: url('assets/images/icons/view-grid.svg') center no-repeat;
}

.settings-button {
    position: fixed;
    right: 0;
    bottom: 0;
    padding: 10px;
    background-color: #0b122ccc;
    border: none;
    border-radius: 20px 0 0;
    z-index: 10;
}

.grid-view {
    display: grid;
    grid-template-columns: repeat(auto-fill, var(--cover-width));
    justify-content: center;
    gap: 0 5px;
}

.grid-view .game-container,
.grid-view .game-cover {
    width: var(--cover-width, 150px);
    height: var(--cover-height, 200px);
}

.grid-view .game-container {
    position: relative;
    padding: 0;
    border: 2px solid transparent;
    box-sizing: content-box;
}

.grid-view .game-container:hover,
.grid-view .game-container:focus {
    border-color: inherit;
}

.game-cover {
    object-fit: cover;
}

.grid-view .game-name {
    position: absolute;
    padding: 3px 0;
    bottom: 0;
    left: 0;
    right: 0;
    color: white;
    background-color: rgba(0,0,0, 0.7);
    word-break: break-word;
}

.name-hidden .game-name {
    display: none;
}

.info {
    position: fixed;
    display: flex;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    color: white;
    background-color: rgba(0,0,0, 0.8);
    align-items: center;
    justify-content: center;
    z-index: 10;
}

.list-view {
    position: relative;
    margin: 0 10px;
}

.list-view .game-cover {
    display: none;
}

.list-view .game-container {
    display: flex;
    margin-left: 40px;
    padding: 5px 10px;
    word-break: break-word;
}

.list-view .game-name {
    display: flex;
    text-align: left;
    align-items: center;
}

.list-view .game-name::before {
    display: inline-block;
    margin-right: 8px;
    width: 24px;
    height: 24px;
    content: '';
    background: url('assets/images/logo-dark.svg') center / 24px no-repeat;
}

.toc-list {
    position: sticky;
    top: 0;
    margin: 0;
    padding: 10px;
    text-align: center;
    white-space: nowrap;
    background-color: #0d1a24;
    list-style: none;
    overflow: auto;
    box-sizing: border-box;
    z-index: 10;
}

.toc-list-item {
    display: inline-block;
    margin-right: 20px;
}

.toc-link {
    display: block;
    color: white;
    font-size: 2rem;
    text-align: center;
}

.games-list-letter {
    scroll-margin-top: 70px;
}

.grid-view .games-list-letter {
    font-size: 4rem;
    justify-self: center;
    align-self: center;
}

.games-list-letter:target {
	color: #55cdff;
}

@media(min-width: 960px) {
    .list-view {
        margin-left: auto;
        margin-right: auto;
        max-width: 960px;
    }
}

[hidden] {
    display: none;
}
